---
import { slide } from "astro:transitions";
import ContainerGeneral from "../components/ContainerGeneral.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import NavigationButtons from "../components/NavigationButtons.astro";

const components = [
    {
        title: "is:global",
        body: "hace que el contenido de una etiqueta <style> se aplique globalmente en la página cuando el componente es incluido."
    },
    {
        title: "is:inline",
        body: "Se renderizará las etiquetas <script> o <style> en el HTML final exactamente donde se crearon"
    }
];
---

<Layout title="Welcome to Directivas.">
    <main transition:animate={slide({ duration: '0.9s' })}>
        <Header title="Directivas de estilo." />
         <ContainerGeneral>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 text-2xl">
                {
                    components.map((item, index) => (
                        <div class="block p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight">
                                {item.title}
                            </h5>
                            <p class="font-normal text-gray-700 dark:text-gray-400">
                                {item.body}
                            </p>
                        </div>
                    ))
                }
            </div>
        </ContainerGeneral>
        <NavigationButtons linkNext="Practica" linkPrev="DirectivasMaquetado"></NavigationButtons> 
        <Footer />
    </main> 
</Layout>