---
import ContainerGeneral from "../components/ContainerGeneral.astro";
import Header from "../components/Header.astro";
import NavigationButtons from "../components/NavigationButtons.astro";
import Layout from "../layouts/Layout.astro";
import ItemLi from "../components/ItemLi.astro";
---

<Layout title="Practica">
    <Header title="Practica" />
    <ContainerGeneral>
        <h2 class="mb-2 font-semibold text-gray-900 dark:text-white text-4xl">
            Instrucciones
        </h2>
        <ul
            class="space-y-1 text-gray-500 list-inside dark:text-gray-400 text-2xl"
        >
            <ItemLi> npm create astro@latest</ItemLi>
            <li class="flex items-center">
                <svg
                    class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 flex-shrink-0"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                >
                    <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
                    ></path>
                </svg>
                npx astro add --help
            </li>
            <li class="flex items-center">
                <svg
                    class="w-3.5 h-3.5 me-2 text-gray-500 dark:text-gray-400 flex-shrink-0"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                >
                    <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
                    ></path>
                </svg>
                npx astro add tailwind
            </li>
        </ul>
        <h2
            class="mb-2 font-semibold text-gray-900 dark:text-white text-4xl pt-10"
        >
            Deploy in render.com
        </h2>
        <ul
            class="space-y-1 text-gray-500 list-inside dark:text-gray-400 text-2xl"
        >
            <li class="flex items-center">
                <svg
                    class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 flex-shrink-0"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                >
                    <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
                    ></path>
                </svg>
                <div>
                    build command: <span class="text-green-500">
                        npm run build
                    </span>
                </div>
            </li>

            <li class="flex items-center">
                <svg
                    class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 flex-shrink-0"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                >
                    <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
                    ></path>
                </svg>
                <div>
                    publish directory: <span class="text-green-500"> dist</span>
                </div>
            </li>

            <li class="flex items-center">
                <svg
                    class="w-3.5 h-3.5 me-2 text-gray-500 dark:text-gray-400 flex-shrink-0"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                >
                    <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
                    ></path>
                </svg>
                <div>
                    <span>Environment variables:</span>
                    <span class="text-green-500"> NODE_VERSION</span>
                    <span class="text-purple-500"> 18.14.1</span>
                </div>
            </li>
        </ul>
    </ContainerGeneral>
    <NavigationButtons linkNext="" linkPrev="DirectivasEstilo" />
</Layout>
